extends layout

block content
    nav.navbar.navbar-default.NOnavbar-fixed-top
        .container-fluid
            .navbar-header 
                a.NOnavbar-brand(href='#')
                    img#logo(
                        src='https://firebasestorage.googleapis.com/v0/b/drawingsound-1d381.appspot.com/o/logo_text.png?alt=media&token=a6de0c11-be8f-45c5-ae63-95a675b3dacf' 
                        alt='Talk Fusion')
            

    #wrapper
        #sidebar-wrapper
            include ./includes/sidebar.pug
      
        #page-content-wrapper
            .container-fluid
                //- .input-group.mb-3
                //-     .input-group-prepend
                //-         select#search3.selectpicker
                //-             option(selected='1') 제목
                //-             option(value='2') 작곡가
                //-             option(value='3') 날짜
                //-         input.form-control(type='text' aria-label='Text input with dropdown button')
                //-         .input-group-append
                //-             button.btn.btn-secondary(type='button') SEARCH
                .row    
                    each sheet in Sheets                    
                        .col-lg-4
                            #sheet.card
                                img.card-img-top(src=sheet.url alt='...')
                                .card-body
                                    h4.card-title #{sheet.title}
                                    p.card-text
                                        | #{sheet.composer}
                                    p.card-day
                                        | 2019-04-22
                                    a.btn(href='sheet/show?key='+sheet.key) VIEW

                        //a.btn.btn-default.menu-toggle(href='#menu-toggle') Toggle Menu
